*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* we set the font as a % of root size, example we want 10px so we need % from 16px, to get 10px we need 10/16=0.625*/
    //This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}